html {
  --primary-color-100: #{$primary-color-100};
  --primary-color-300: #{$primary-color-300};
  --primary-color-500: #{$primary-color-500};
  --primary-color-700: #{$primary-color-700};

  --green-color-100: #{$green-color-100};
  --green-color-200: #{$green-color-200};
  --green-color-400: #{$green-color-400};
  --green-color-500: #{$green-color-500};

  --red-color-200: #{$red-color-200};
  --red-color-400: #{$red-color-400};
  --red-color-500: #{$red-color-500};

  --blue-color-200: #{$blue-color-200};
  --blue-color-400: #{$blue-color-400};
  --blue-color-500: #{$blue-color-500};

  --purple-color-400: #{$purple-color-400};
  --yellow-color-400: #{$yellow-color-400};
  --orange-color-500: #{$orange-color-500};

  --gray-color-300: #{$gray-color-300};
  --gray-color-400: #{$gray-color-400};
  --gray-color-500: #{$gray-color-500};
  --gray-color-600: #{$gray-color-600};
  --gray-color-900: #{$gray-color-900};

  --background-color-500: #{$background-color-500};
  --background-color-600: #{$background-color-600};
  --background-color-700: #{$background-color-700};

  --font-color: #{$font-color};

  --white-color: #fff;
  --black-color: #000;
}
