$primary-color-200: #e3f0fd;
$primary-color-300: #8dc6ff;
$primary-color-500: #0879eb;

$green-color-500: #10ce85;

$red-color-500: #ef4545;

$gray-color-500: #979ea0;

$font-color: #1c1e1f;

$background-color-500: #f7f8fa;
$background-color-600: #f0f1f7;
$background-color-700: #eceef5;
