$primary-color-100: #f7eff0;
$primary-color-300: #bd204f;
$primary-color-500: #8f022c;
$primary-color-700: #770829;

$green-color-200: #baeeda;
$green-color-400: #27e29a;
$green-color-500: #10ce85;

$red-color-200: #ffd7d7;
$red-color-400: #fc5a5a;
$red-color-500: #ef4545;

$blue-color-200: #e6f7ff;
$blue-color-400: #91d5ff;
$blue-color-500: #3590ff;

$orange-color-500: #faad14;

$gray-color-500: #979ea0;
$gray-color-600: #7b8589;

$font-color: #1c1e1f;

$background-color-500: #f7f8fa;
$background-color-600: #f0f1f7;
$background-color-700: #eceef5;
