@import '_variables/media';
@import '_variables/colors';
@import '_variables/fonts';

$navWidth: 220px;

// ! LEGACY:
// RWD
$break: 1100px;

// Fonts
$font-main: $primaryFont;
$font-sec: $headerFont;

// Colors

$white: rgba(255, 255, 255, 0.91);
$black: #000;
$grey: #aaa;

// Other
$shadow: 0 2px 10px 0 rgba(16, 16, 16, 0.08);
