@import './01_abstracts/index.scss';
@import './02_components/index';
@import './03_themes/index';

body {
  font-family: $primaryFont, 'BlinkMacSystemFont', sans-serif !important;
  background: var(--background-color-500) !important;
  color: var(--font-color) !important;
  margin: 0;
}

*::selection {
  background-color: var(--primary-color-300) !important;
  color: var(--white-color) !important;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.danger-text {
  color: var(--red-color-500);
}

.success-text {
  color: var(--green-color-500);
}

.gray-text {
  color: var(--gray-color-500);
}

hr {
  all: unset;
  display: block;
  height: 1px !important;
  background-color: var(--background-color-700);
  width: 100%;
  margin: 12px 0;
}

.row {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.label {
  display: block;
  font-size: 0.8em;
  color: var(--gray-color-600);
  margin-bottom: 2px;
  font-weight: 500;
}

.flex {
  display: flex;
}

.multiselect {
  z-index: 1000;
}

.multiselect__tag {
  background: var(--black-color);
}

.multiselect__tag-icon::after {
  color: var(--font-color);
}

.title {
  font-weight: 600;
  margin: 0;
}

.notification {
  &__title {
    display: block;
    font-weight: 600;
    font-size: 1.1em;
  }

  &__text {
    display: block;
  }
}

.v-toast {
  padding-bottom: 5em !important;

  @media ($viewport-11) {
    padding-bottom: inherit !important;
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

code {
  background-color: var(--background-color-700);
  color: var(--font-color);
  padding: 2px 4px;
  border-radius: 3px;
}

legend {
  font-size: 1.2em !important;
}

.ant-tooltip {
  line-height: 1.3 !important;
}

.narrower-page {
  max-width: 900px;
  display: block;
  margin: 0 auto;
}

.ant-checkbox-wrapper {
  margin-left: 0 !important;

  .ant-checkbox__title {
    color: var(--black-color);
  }
  .ant-checkbox__description {
    margin-left: 26px;
  }

  .ant-checkbox::after,
  &:hover .ant-checkbox-inner,
  &:focus-within .ant-checkbox-inner {
    border-color: var(--black-color) !important;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    border-color: var(--black-color) !important;
    background-color: var(--black-color) !important;
  }

  .ant-checkbox-indeterminate .ant-checkbox-inner::after {
    background-color: var(--black-color) !important;
  }
}
